* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('./fonts/Gilroy-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('./fonts/Gilroy-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: url('./fonts/Gilroy-Semibold.woff') format('woff');
}


body {
    scroll-behavior: smooth;
    background: #FFF;
}

.container{
    width: 1170px;
    margin: 0 auto;
    padding: 145;
    margin-bottom: 15px;
}

img{
    display: block;
    max-width: 100%;
}

.header{
    padding: 26px 0 48px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.text_header{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 533px;
    font-family: 'Gilroy-Semibold';
    padding: 12px 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.main{
    
    display: flex;
    gap: 40px;
    margin-bottom: 162px;
}

.main_text{
    width: 522px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-around;
}

.orange {
    color: #F25822;
}

h1 {
    font-family: 'Gilroy-Bold';
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text_paragraph {
    margin-top: 15px;
    color: #888;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 20px;
    
    
}

button {
    padding: 16px;
    cursor: pointer;
    
}

.buttons{
    margin-top: 37px;
    display: flex;
    gap: 70px;
}


.orange_button{
    border-radius: 50px;
    background: #F25822;
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    border: none;
}

.simple_button{
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    border: none;
    background: #FFF;

}

.footer{
    padding: 97px 0;
    
}

.footers{
    display: flex;
    justify-content: space-between;
}



